<!doctype html>
<html lang="en">
  <head>
    <title>Scanner Admin</title>
    <link rel="stylesheet" href="node_modules/ng-admin/build/ng-admin.min.css">
  </head>
  <body ng-app="myApp">
    <div ui-view="ng-admin"></div>
    <script src="node_modules/ng-admin/build/ng-admin.min.js"></script>
    <script src="node_modules/angular-barcode/dist/angular-barcode.js"></script>
    <script type="text/javascript">
    var myApp = angular.module('myApp', ['ng-admin', 'angular-barcode']);


    myApp.config(['$stateProvider', 'NgAdminConfigurationProvider', function($stateProvider, nga) {

      $stateProvider.state('barcodes', {
        parent: 'ng-admin',
        url: '/barcodes',
        controller: function ($scope, Restangular) {
          $scope.bc = { "width" : 1, "height": 50 };
          Restangular.all('tags').all('products').getList().then(function(tags) {
            if (tags.data !== undefined) tags = tags.data; // TODO why does this happen?
            $scope.tags = [{"name": "Kommandos", "ord": Number.NEGATIVE_INFINITY, "products": [
              { "name": "Liste ordnen", ean: '99900007' }
            ]}].concat(tags);
          });
        },
        template: '<div class="row"></div> \
<div ng-repeat="tag in tags"> \
  <h2>{{tag.name}}</h2> \
  <div class="row"> \
  <div class="col-sm-2" ng-repeat="product in tag.products" style="text-align: center"> \
        {{product.name}}<br/> \
  <angular-barcode ng-model="product.ean" bc-options="bc" bc-type="svg"></angular-barcode> \
  </div></div> \
</div>'
      });

      var admin = nga.application('Scanner Admin');

      var list = nga.entity('lists');
      var tag = nga.entity('tags').label('Product group');
      var product = nga.entity('products').identifier(nga.field('ean'));

      list.listView().fields([
        nga.field('id').label('Wunderlist List ID'),
        nga.field('name')
      ]);
      list.creationView().fields(list.listView().fields());
      list.editionView().fields(list.listView().fields());

      tag.listView().fields([
        nga.field('name').isDetailLink(true),
        nga.field('ord', 'number').label('Order')
      ]);
      tag.creationView().fields(tag.listView().fields());
      tag.editionView().fields(tag.listView().fields());

      product.listView().fields([
        nga.field('ean')
          .isDetailLink(true)
          .label('EAN'),
        nga.field('name'),
        nga.field('list', 'reference')
          .targetEntity(list)
          .targetField(nga.field('name'))
          .label('List'),
        nga.field('tag', 'reference')
          .targetEntity(tag)
          .targetField(nga.field('name'))
          .label('Product group'),
        nga.field('shelf')
      ]);
      product.creationView().fields(product.listView().fields());
      product.editionView().fields(product.listView().fields(), [
        nga.field('ean')
          .label('Barcode')
          .template('<angular-barcode ng-model="value" bc-type="svg"></angular-barcode>')
      ]);

      admin.addEntity(product);
      admin.addEntity(list);
      admin.addEntity(tag);

      admin.menu(nga.menu()
        .addChild(nga.menu(product).icon('<span class="glyphicon glyphicon-shopping-cart"></span>'))
        .addChild(nga.menu(list).icon('<span class="glyphicon glyphicon-list"></span>'))
        .addChild(nga.menu(tag).icon('<span class="glyphicon glyphicon-th-large"></span>'))
        .addChild(nga.menu()
          .title('Barcodes')
          .link('/barcodes')
          .active(function(path) {
              return path.indexOf('/barcodes') === 0;
          })
          .icon('<span class="glyphicon glyphicon-barcode"></span>')
        )
      );

      admin.dashboard(nga.dashboard()
        .addCollection(nga.collection(product).fields(product.listView().fields()))
      );

      nga.configure(admin);
    }]);
    </script>
  </body>
</html>
