[Unit]
Description=Scanner Frontend Service

[Service]
ExecStart=/home/thomas/scanner/frontend.py
Restart=always

[Install]
WantedBy=multi-user.target
